* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

/* ============================================================================================ */
/* Commmon Css
============================================================================================ */

/* ============================================================================================ */
/* Navbar
============================================================================================ */
.top-bar2 {
  background: radial-gradient(
    circle,
    rgba(2, 24, 134, 1) 0%,
    rgba(162, 3, 35, 1) 99%
  );
  color: white;

 
}
.navbar-registration{
  box-shadow: rgb(34, 34, 34) 0px 0px 20px -10px;
}
.bar-left ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.head-icon {
    font-size: 13px;
    background: rgb(238, 238, 238);
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    color: rgba(162, 3, 35, 1);
    padding-top: 3px;
    border-radius: 5px;
}
.head-icon:hover {
  color: rgb(255, 255, 255);
  background:none;
}
@media only screen and (max-width: 991px)  {
  .adjust-padding{
    padding-top: 20px !important;
   
  }
}
@media only screen and (max-width: 577px)  {
  .adjust-padding{
    padding-left: 20px !important;
    padding-right: 20px !important;
   
  }
}
/* ============================================================================================ */
/* Login Page
============================================================================================ */
.login-row {
  background-color: #fcfcfc;
  border-radius: 5px

  ;
}
.login-page {
  background-color: #ede9e9;
  min-height: 100vh;
}
.btns{
  background: radial-gradient(
    circle,
    rgb(6, 33, 167) 0%,
    rgba(246, 0, 50, 1) 99%
  );

  font-size: medium;
  padding: 10px;
  width: 150px;
  height: 100%;
  border-radius: 5px;
  border: none;
  color: white;
}
.login-input{
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 15px 20px;
  color: rgb(49, 49, 49);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
}
.btns:hover {
  background: radial-gradient(
    circle,
    rgba(246, 0, 50, 1) 0%,
    rgb(6, 33, 167) 99%
  );
}
.apply-btn {
  background: rgba(162, 3, 35, 1);
}
.btn-login{
  width: 100%;
}
.nav-text-color{
  color: black !important;
}
.nav-text-color:hover{
  color:rgba(162, 3, 35, 1) !important ;
  font-weight: 600 !important;
  font-size: medium !important;
}
@media only screen and (max-width: 991px)  {
  .nav-text-color{
    color: black !important;
  }
  .nav-text-color:hover{
    color:rgba(162, 3, 35, 1) !important ;
    font-weight: 600 !important;
    font-size: medium !important;
  }
}
.text-color{
  color: rgb(5, 36, 189);
}
.text-color:hover{
  color: rgb(84, 62, 253);
}
.course-btn:hover{
  background: rgb(6, 33, 167) ;
}
.btn-applyforcourses{
  font-size: x-small;
}
.btn-applyforcourses:hover{
color:white
}
@media only screen and (max-width:772px)  {
  .marginonsmallscree{
    margin: 0 20px !important;
  }
  
}

/* ============================================================================================ */
/*NavBar Registration
============================================================================================ */

